* {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 36px;
  margin-top: 0;
  margin-bottom: 20px;
}

body {
  background-image: url(imagekol/Green\ Os\ Background\ Gradation\ Blur\ iPhone\ Wallpapers.jpg);
  background-image: no-repeat;
  background-size: cover;

}

header {
  position: sticky;
  top: 0;
  z-index: 1;
}

nav {
  background-color: #f8df7b;
  color: #00A6D6;
  border: 2px solid rgb(107, 240, 93);
  height: 4em;
  /* border-top-right-radius: 4px; */
  /* border-top-left-radius: 4px; */
}

ul {
  height: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  flex-wrap: wrap;
  gap: 4vw;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* Ensure no content overflows */
}

input {
  width: 36em;
  height: 25px;
}

.ico>img {
  width: 50px;
}

.content>h1 {
  margin-top: 1em;
  text-align: center;
}

.text{
  margin: 4vw 5vw;
}

.text ul li h3 {
  text-decoration: underline;
  font-size: 20px;
}

.text ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  height: auto;
  gap: 10px 66px;
}

.text>ul>li:nth-child(5),li:nth-child(6),li:nth-child(7) {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: large;
}

.text>ul>li:nth-child(8){
  display: flex;
  gap: 20px;
}

.li-buttons {

  font-size: 0.22em;
  /* padding-left: 76em; */
  display: flex;
  gap: 3.3rem;
  flex-wrap: wrap;
}

/* .btn-1 {
  margin-left: 3px;
} */

nav ul li {
  font-size: 20px;
  font-weight: bold;
}

nav ul li:nth-child(5) {
  padding-right: 30px;
}

input::placeholder {
  color: rgb(0, 13, 255);
}

#links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
}

#links a {
  color: white;
  text-decoration: none;
  padding: 15px 30px;
  background-color: green;
  border-radius: 5px;
  margin: 0 25px;
  font-size: 20px;
  transition: background-color 0.5s ease;
}

#links a:hover {
  background-color: #0c6323;
}

.searchbar {
  display: flex;
  justify-content: flex-end;
  width: 33vw;
}

@media only screen and (max-width : 450px) {
  header {
    position: sticky;
    top: 0;
    z-index: 1;
  }

  header nav {
    height: 4em;
  }

  nav ul {
    height: 4em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .ico>img {
    width: 30px;
  }

  .button-33 {
    margin: 4px;
  }
}


/*for slide bar --- */
@media only screen and (max-width: 1120px) {
  .ul {
    flex-direction: start;
  }
}

@media only screen and (max-width: 604px) {
  nav ul {
    justify-content: flex-start;
    /* Align items to the left */

  }
}

@media only screen and (max-width: 604px) {
  ul {
    gap: 0;
  }
}

li:first-child {
  margin-left: 0;
  /* Set margin left to 0 for the first item */
}

@media only screen and (max-width: 580px) {
  ul {
    gap: 0;
    flex-wrap: nowrap;
  }

  ul :nth-child(2) {
    width: 32em;
  }
}

@media only screen and (max-width: 1169px) {

  li:nth-child(3) {
    /* About */
    display: none;
  }
}